streamlit
pandas
numpy
nltk
transformers
torch
wordcloud
matplotlib
plotly
regex==2026.1.15
requests==2.32.5
rpds-py==0.27.1
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
smmap==5.0.3
streamlit==1.50.0
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.22.2
toml==0.10.2
torch==2.8.0
tornado==6.5.5
tqdm==4.67.3
transformers==4.57.6
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
zipp==3.23.0


